.menuHeader {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0 0.5rem 0;
  background: var(--background-main);
  z-index: 100;
  nav {
    width: 100%;
    ul {
      @include flexCenter;
      justify-content: space-around;
      width: 100%; 
      @media (max-width: 1000px) {
        justify-content: space-around;
      }
      li {
        @include afterGradient;
        display: inline-block;
        margin: 0 1rem;
        .links {
          @include beforeGradient;
          text-decoration: none;
          @media (max-width: 960px) {
            padding-left: 0.4rem;
            padding-right: 0.4rem;
          }
        }
        .activeMenu {
          color: var(--light-color);
          box-shadow: none;
          border-left: 1px solid hsl(0, 0%, 5%);
          border-top: 1px solid hsl(0, 0%, 0%);
          border-color: hsl(0, 0%, 5%);
        }
        @media (max-width: 1115px) {
          margin: 0 0.5rem;
        }
        @media (max-width: 960px) {
          margin: 0 0.2rem;
          .links {
          }
        }
      }
    }
  }
  @media (max-width: 800px) {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 0 0.5rem 0;
    background: var(--background-main);
    z-index: 100;
    box-shadow: 2px 2px 2px var(--color-neutro);
    @include flexCenter;
    justify-content: space-between;
    .menuMovile {
      position: relative;
      padding: 0 1.5rem 0 0;
      span {
        color: var(--white-color);
        font-size: 2rem;
      }
      nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--black-rgba-media);
	box-shadow: 2px 2px 2px #222;
        ul {
          @include flexCenterC;
          width: 100%;
          li {
            @include afterGradient;
            display: block;
            margin: .3rem 0;
            .links {
              @include beforeGradient;
              text-decoration: none;
            }
            .activeMenu {
              color: var(--light-color);
              box-shadow: none;
              border-left: 1px solid hsl(0, 0%, 5%);
              border-top: 1px solid hsl(0, 0%, 0%);
              border-color: hsl(0, 0%, 5%);
            }
          }
        }
	.close{
	  position: absolute;
	  right: 2rem; 
	  top: 1rem;
	  background: none;
	  outline: none;
	  border: none;
	  font-size: 2rem;
	  color: var(--white-color);
	  font-weight: bold;
	}
      }
    }
  }
  .wrapperLogo {
    padding: none;
    margin: none;
    border-radius: none;
    background: var(--brackground-main);
    .Logo {
      text-decoration: none;
      h1 {
        padding: 0 1.5rem;
        color: var(--white-color);
        text-align: center;
        font-size: 2rem;
        span {
          padding: 0 0.4rem;
          &:nth-child(odd) {
            color: var(--light-color);
          }
        }
        @media (max-width: 1000px) {
          span {
            padding: 0 0.3rem;
          }
        }
        @media (max-width: 500px) {
          font-size: 1.2rem;
	    padding: 0 .2rem;
        }
        @media (max-width: 400px) {
          font-size: 1rem;
	    padding: 0 .2rem;
        }
      }
    }
  }
}
