.menu {
  @include flexCenterC;
  flex-wrap: wrap;
  width: 100%;
  padding: 4rem 0;
  @media (max-width: 450px) {
    padding: 1rem 0;
  }
  .wrapper {
    @include flexCenter;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    transition: 0.5s;

    .wrapperImg {
      position: relative;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      z-index: 1;
      transition: 0.5s;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        transition: 0.5s;
      }
      @media (max-width: 800px) {
        width: 200px;
        height: 200px;
      }
      @media (max-width: 660px) {
        width: 160px;
        height: 160px;
      }
      @media (max-width: 530px) {
        width: 160px;
        height: 160px;
      }
      @media (max-width: 360px) {
        width: 100px;
        height: 100px;
      }

      .wrapperText {
        @include flexCenter;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: 0.5s;
        background: linear-gradient(
          to bottom,
          hsla(0, 0%, 0%, 0),
          hsla(0, 0%, 0%, 0)
        );
        p {
          color: #ccc;
          font-size: var(--font-s-large);
          text-align: center;
          position: relative;
          bottom: -3rem;
          border-bottom: 2px solid #ccc;
          z-index: 7;
          opacity: 0;
          transition: 0.5s;
        }
        @media (max-width: 400px) {
          background: linear-gradient(
            to bottom,
            hsla(0, 0%, 0%, 0),
            hsla(0, 0%, 0%, 0),
            hsla(0, 0%, 0%, 0.9)
          );
          p {
            font-size: 0.8rem;
            bottom: -1.3rem;
            opacity: 1;
            color: #fff;
            border-bottom: 1px solid #ccc;
          z-index: 7;
          }
        }
      }
      &:hover .wrapperText {
        background: linear-gradient(
          to bottom,
          hsla(0, 0%, 0%, 0),
          hsla(0, 0%, 0%, 0.9)
        );
      }
      &:hover .wrapperText p {
        opacity: 1;
      }
    }
  }
}
