@mixin flexCenter {
    display: flex;    
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
@mixin flexCenterC {
    @include flexCenter;
    flex-direction: column;
}


