@mixin flexCenter {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@mixin flexCenterC {
  @include flexCenter;
  flex-direction: column;
}

$left: -4rem;
$bottom: -4rem;
$large: 300px;
$ancho: 0.6rem;
@mixin left-bar {
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 1rem;
    bottom: -6rem;
    left: $left;
    bottom: $bottom;
  }
  &:before {
    width: $ancho;
    height: $large;
    background: var(--main-gradient-right);
    left: $left + 1rem;
  }
  &:after {
    width: $large;
    height: $ancho;
    background: var(--main-gradient);
    bottom: $bottom + 1rem;
  }
}
@mixin left-bar-0 {
  $ancho: 0.6rem;
  @include left-bar;
  &:before {
    left: -1rem;
    width: $ancho;
    z-index: -1;
    bottom: -2rem;
    @media (max-width: 320px) {
      height: $large - 100px;
    }
  }
  &:after {
    top: 99%;
    width: 120%;
    left: -2.5rem;
    height: $ancho;
    @media (max-width: 320px) {
      width: $large - 100px;
    }
  }
}
@mixin afterGradient {
  padding: 1.3rem 0.4rem 1.2rem 0.4rem;
  border-radius: 8px;
  background: var(--main-gradient);
  z-index: 2;
}
@mixin beforeGradient {
  padding: 0.8rem;
  border-radius: 6px;
  background: var(--background-main);
  box-shadow: 2px 2px 2px #000;
  color: var(--white-color);
  transition: 0.5s;
  border-left: 1px solid var(--background-main);
  &:hover {
    transform: scale(0.95);
    color: var(--light-color);
    border-color: var(--background-main);
    box-shadow: outset;
  }
}
@mixin bottom-bar {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 1rem;
    width: 50%;
    height: 0.5rem;
    bottom: -0.5rem;
    left: 25%;
    background: var(--main-gradient);
  }
}
@mixin button {
  @include beforeGradient;
  position: relative;
  border: none;
  outline: none;
  font-size: var(--font-s-normal);
  &:hover {
    transform: none;
    color: var(--light-color);
    border-color: var(--background-main);
    box-shadow: inset;
  }
  &:after {
    @include afterGradient;
    position: absolute;
    content: '';
    padding: 0.5rem;
    display: block;
    top: -0.5rem;
    left: -0.4rem;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
@mixin title {
  color: var(--white-color);
  text-align: center;
  font-size: var(--font-s-large);
  padding: 0 0.2rem;
}
@mixin parraf {
  color: var(--white-color);
  text-align: center;
  font-size: var(--font-s-normal);
  margin: 2rem 0;
  padding: 0 0.3rem;
}
