.wrapperSocial {
  @include flexCenterC;
  width: 100%;
  margin: auto;
  padding: 1rem 0 0 0;
  nav {
    ul {
      li {
        list-style: none;
        display: inline-block;
        margin: 0 1rem;
        z-index: 2;
        @include afterGradient;
        padding: 0.4rem 0.4rem 0.2rem 0.4rem;
        a {
          text-decoration: none;
          img {
            width: 2rem;
            height: 2rem;
            @include beforeGradient;
            padding: 0.6rem;
          }
        }
      }
    }
  }
  p {
    margin: 1rem 0 0 0;
    text-align: center;
    color: var(--white-color);
    font-size: var(--font-s-normal);
    i {
      font-size: var(--font-s-small);
    }
  }
  .creadores {
    color: var(--white-color);
    font-size: 0.7rem;
    a {
      color: var(--white-color);
      padding: 0 0.2rem;
    }
  }
}
