.wrapperSocial {
  @include flexCenterC;
  width: 100%;
  margin: auto;
  nav {
    ul {
      li {
        list-style: none;
        display: inline-block;
        margin: 0 1rem;
        z-index: 2;
	@include afterGradient;
        padding: .8rem 0.4rem .8rem 0.4rem;
        a {
          font-size: 2rem;
          text-decoration: none;
	  @include beforeGradient;
          padding: 0.3rem .5rem;
        }
	.whatsapp{color: ##01e675}
	.instagram{color: ##e8412a}
	.facebook{color: ##415e9b}
      }
    }
  }
  p{
 padding: .5rem 0; 
 margin: 1rem 0;
 color: var(--white-color);
  }

}
