@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  margin: 0;
  padding: 0; }

:root {
  --background-main: #202020;
  --main-gradient: linear-gradient(to bottom, hsl(0, 0%, 5%), hsl(0, 0%, 18%));
  --main-gradient-right: linear-gradient(
    to right,
    hsl(0, 0%, 5%),
    hsl(0, 0%, 18%)
  );
  --white-color: #eee;
  --black-color: #202020;
  --light-color: hsl(345, 100%, 60%);
  --black-rgba-media: rgba(0, 0, 0, 0.9);
  --color-neutro: #888;
  --font-s-extraBig: 3.8rem;
  --font-s-big: 2.8rem;
  --font-s-large: 1.8rem;
  --font-s-normal: 1.3rem;
  --font-s-small: 0.8rem;
  --main-top: 8rem;
  --font-family: 'EB Garamond', serif; }

@media (max-width: 500px) {
  :root {
    --font-s-extraBig: 3rem;
    --font-s-big: 2.3rem;
    --font-s-large: 1.5rem;
    --font-s-normal: 1.2rem;
    --font-s-small: 0.6rem;
    --main-top: 4rem;
    --background-main: hsl(0, 0%, 90%);
    --main-gradient: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 100%));
    --main-gradient-right: linear-gradient(
    to right,
    hsl(0, 0%, 80%),
    hsl(0, 0%, 100%)
  );
    --white-color: #202020;
    --black-color: #eee;
    --black-rgba-media: rgba(200, 200, 200, 0.9); } }

/*!
 * Photo Sphere Viewer 4.0.7
 * @copyright 2014-2015 Jérémy Heleine
 * @copyright 2015-2020 Damien "Mistic" Sorel
 * @licence MIT (https://opensource.org/licenses/MIT)
 */
.psv-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 90;
  bottom: -40px;
  height: 40px;
  width: 100%;
  -webkit-transition: bottom ease-in-out 0.1s;
  transition: bottom ease-in-out 0.1s; }

.next-360, .prev-360 {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  z-index: 50; }

.psv-navbar--open {
  bottom: 0; }

.psv-navbar,
.psv-navbar * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.psv-caption {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  text-align: center; }

.psv-caption-icon {
  height: 20px;
  width: 20px;
  cursor: pointer; }

.psv-caption-icon * {
  fill: rgba(255, 255, 255, 0.7); }

.psv-caption-content {
  display: inline-block;
  padding: 10px;
  font: 16px sans-serif;
  white-space: nowrap; }

.psv-button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 10px;
  position: relative;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background: transparent;
  color: rgba(255, 255, 255, 0.7); }

.psv-button--active {
  background: rgba(255, 255, 255, 0.2); }

.psv-button--disabled {
  pointer-events: none;
  opacity: 0.5; }

.psv-button .psv-button-svg {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease; }

.psv-button .psv-button-svg * {
  fill: currentColor; }

.psv-container:not(.psv--is-touch)
.psv-button--hover-scale:not(.psv-button--disabled):hover
.psv-button-svg {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

/*!
 * Photo Sphere Viewer 4.0.7
 * @copyright 2014-2015 Jérémy Heleine
 * @copyright 2015-2020 Damien "Mistic" Sorel
 * @licence MIT (https://opensource.org/licenses/MIT)
 */
.psv-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: radial-gradient(#fff 0%, #fdfdfd 16%, #fbfbfb 33%, #f8f8f8 49%, #efefef 66%, #dfdfdf 82%, #bfbfbf 100%);
  overflow: hidden; }

.psv-container--fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.psv-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transition: opacity linear 100ms;
  transition: opacity linear 100ms; }

.psv-canvas {
  display: block; }

/*!
 * Photo Sphere Viewer 4.0.7
 * @copyright 2014-2015 Jérémy Heleine
 * @copyright 2015-2020 Damien "Mistic" Sorel
 * @licence MIT (https://opensource.org/licenses/MIT)
 */
.psv-autorotate-button.psv-button {
  width: 25px;
  height: 25px;
  padding: 7.5px; }

/*!
 * Photo Sphere Viewer 4.0.7
 * @copyright 2014-2015 Jérémy Heleine
 * @copyright 2015-2020 Damien "Mistic" Sorel
 * @licence MIT (https://opensource.org/licenses/MIT)
 */
.psv-zoom-range.psv-button {
  width: 80px;
  height: 1px;
  margin: 10px 0;
  padding: 9.5px 0;
  max-width: 600px; }

.psv-zoom-range-line {
  position: relative;
  width: 80px;
  height: 1px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.psv-zoom-range-handle {
  position: absolute;
  border-radius: 50%;
  top: -3px;
  width: 7px;
  height: 7px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }

.psv-zoom-range:not(.psv-button--disabled):hover .psv-zoom-range-line {
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.7); }

.psv-zoom-range:not(.psv-button--disabled):hover .psv-zoom-range-handle {
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

/*!
 * Photo Sphere Viewer 4.0.7
 * @copyright 2014-2015 Jérémy Heleine
 * @copyright 2015-2020 Damien "Mistic" Sorel
 * @licence MIT (https://opensource.org/licenses/MIT)
 */
.psv-loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 80; }

.psv-loader {
  position: relative;
  text-align: center;
  color: rgba(61, 61, 61, 0.7);
  width: 150px;
  height: 150px;
  border: 10px solid transparent; }

.psv-loader::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.psv-loader,
.psv-loader-image,
.psv-loader-text {
  display: inline-block;
  vertical-align: middle; }

.psv-loader-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.psv-loader-text {
  font: 14px sans-serif; }

/*!
 * Photo Sphere Viewer 4.0.7
 * @copyright 2014-2015 Jérémy Heleine
 * @copyright 2015-2020 Damien "Mistic" Sorel
 * @licence MIT (https://opensource.org/licenses/MIT)
 */
.psv-notification {
  position: absolute;
  z-index: 100;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 2em;
  opacity: 0;
  -webkit-transition-property: opacity, bottom;
  transition-property: opacity, bottom;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms; }

.psv-notification-content {
  max-width: 50em;
  background-color: rgba(61, 61, 61, 0.8);
  border-radius: 4px;
  padding: 0.5em 1em;
  font: 14px sans-serif;
  color: white; }

.psv-notification--visible {
  opacity: 100;
  bottom: 80px; }

/*!
 * Photo Sphere Viewer 4.0.7
 * @copyright 2014-2015 Jérémy Heleine
 * @copyright 2015-2020 Damien "Mistic" Sorel
 * @licence MIT (https://opensource.org/licenses/MIT)
 */
.psv-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 110;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(#fff 0%, #fdfdfd 16%, #fbfbfb 33%, #f8f8f8 49%, #efefef 66%, #dfdfdf 82%, #bfbfbf 100%);
  opacity: 0.8; }

.psv-overlay-image {
  margin-bottom: 4vh; }

.psv-overlay-image svg {
  width: 50vw; }

@media (orientation: landscape) {
  .psv-overlay-image svg {
    /* stylelint-disable-line scss/media-feature-value-dollar-variable */
    width: 25vw; } }

.psv-overlay-text {
  font: 30px sans-serif;
  text-align: center; }

.psv-overlay-subtext {
  font: 20px sans-serif;
  opacity: 0.8;
  text-align: center; }

/*!
 * Photo Sphere Viewer 4.0.7
 * @copyright 2014-2015 Jérémy Heleine
 * @copyright 2015-2020 Damien "Mistic" Sorel
 * @licence MIT (https://opensource.org/licenses/MIT)
 */
/* stylelint-disable scss/no-duplicate-dollar-variables */
/* stylelint-enable */
.psv-panel {
  position: absolute;
  z-index: 90;
  right: 0;
  height: 100%;
  width: 400px;
  max-width: calc(100% - 24px);
  background: rgba(10, 10, 10, 0.7);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: default;
  margin-left: 9px; }

.psv--has-navbar .psv-panel {
  height: calc(100% - 40px); }

.psv-panel-close-button {
  display: none;
  position: absolute;
  top: 0;
  left: -24px;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.9); }

.psv-panel-close-button::before,
.psv-panel-close-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  width: 15px;
  height: 1px;
  background-color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: width, left, -webkit-transform;
  transition-property: width, left, -webkit-transform;
  transition-property: width, left, transform;
  transition-property: width, left, transform, -webkit-transform; }

.psv-panel-close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.psv-panel-close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.psv-panel-close-button:hover::before,
.psv-panel-close-button:hover::after {
  left: 0;
  width: 23px; }

.psv-panel-close-button:hover::before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.psv-panel-close-button:hover::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.psv-panel-resizer {
  display: none;
  position: absolute;
  top: 0;
  left: -9px;
  width: 9px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: col-resize; }

.psv-panel-resizer::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 1px;
  margin-top: -14.5px;
  width: 1px;
  height: 1px;
  -webkit-box-shadow: 1px 0 #fff, 3px 0px #fff, 5px 0px #fff, 1px 2px #fff, 3px 2px #fff, 5px 2px #fff, 1px 4px #fff, 3px 4px #fff, 5px 4px #fff, 1px 6px #fff, 3px 6px #fff, 5px 6px #fff, 1px 8px #fff, 3px 8px #fff, 5px 8px #fff, 1px 10px #fff, 3px 10px #fff, 5px 10px #fff, 1px 12px #fff, 3px 12px #fff, 5px 12px #fff, 1px 14px #fff, 3px 14px #fff, 5px 14px #fff, 1px 16px #fff, 3px 16px #fff, 5px 16px #fff, 1px 18px #fff, 3px 18px #fff, 5px 18px #fff, 1px 20px #fff, 3px 20px #fff, 5px 20px #fff, 1px 22px #fff, 3px 22px #fff, 5px 22px #fff, 1px 24px #fff, 3px 24px #fff, 5px 24px #fff, 1px 26px #fff, 3px 26px #fff, 5px 26px #fff, 1px 28px #fff, 3px 28px #fff, 5px 28px #fff;
  box-shadow: 1px 0 #fff, 3px 0px #fff, 5px 0px #fff, 1px 2px #fff, 3px 2px #fff, 5px 2px #fff, 1px 4px #fff, 3px 4px #fff, 5px 4px #fff, 1px 6px #fff, 3px 6px #fff, 5px 6px #fff, 1px 8px #fff, 3px 8px #fff, 5px 8px #fff, 1px 10px #fff, 3px 10px #fff, 5px 10px #fff, 1px 12px #fff, 3px 12px #fff, 5px 12px #fff, 1px 14px #fff, 3px 14px #fff, 5px 14px #fff, 1px 16px #fff, 3px 16px #fff, 5px 16px #fff, 1px 18px #fff, 3px 18px #fff, 5px 18px #fff, 1px 20px #fff, 3px 20px #fff, 5px 20px #fff, 1px 22px #fff, 3px 22px #fff, 5px 22px #fff, 1px 24px #fff, 3px 24px #fff, 5px 24px #fff, 1px 26px #fff, 3px 26px #fff, 5px 26px #fff, 1px 28px #fff, 3px 28px #fff, 5px 28px #fff;
  background: transparent; }

.psv-panel-content {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: gainsboro;
  font: 16px sans-serif;
  overflow: auto; }

.psv-panel-content:not(.psv-panel-content--no-margin) {
  padding: 1em; }

.psv-panel-content--no-interaction {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

.psv-panel--open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.psv-panel--open .psv-panel-close-button,
.psv-panel--open .psv-panel-resizer {
  display: block; }

/*!
 * Photo Sphere Viewer 4.0.7
 * @copyright 2014-2015 Jérémy Heleine
 * @copyright 2015-2020 Damien "Mistic" Sorel
 * @licence MIT (https://opensource.org/licenses/MIT)
 */
.psv-tooltip {
  position: absolute;
  z-index: 50;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 200px;
  background-color: rgba(61, 61, 61, 0.8);
  border-radius: 4px;
  padding: 0.5em 1em;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  outline: 5px solid transparent; }

.psv-tooltip-content {
  color: white;
  font: 14px sans-serif;
  text-shadow: 0 1px #000; }

.psv-tooltip-arrow {
  position: absolute;
  height: 0;
  width: 0;
  border: 7px solid transparent; }

.psv-tooltip--bottom-center {
  -webkit-box-shadow: 0 3px 0 rgba(90, 90, 90, 0.7);
  box-shadow: 0 3px 0 rgba(90, 90, 90, 0.7);
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform; }

.psv-tooltip--bottom-center .psv-tooltip-arrow {
  border-bottom-color: rgba(61, 61, 61, 0.8); }

.psv-tooltip--center-left {
  -webkit-box-shadow: -3px 0 0 rgba(90, 90, 90, 0.7);
  box-shadow: -3px 0 0 rgba(90, 90, 90, 0.7);
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform; }

.psv-tooltip--center-left .psv-tooltip-arrow {
  border-left-color: rgba(61, 61, 61, 0.8); }

.psv-tooltip--top-center {
  -webkit-box-shadow: 0 -3px 0 rgba(90, 90, 90, 0.7);
  box-shadow: 0 -3px 0 rgba(90, 90, 90, 0.7);
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform; }

.psv-tooltip--top-center .psv-tooltip-arrow {
  border-top-color: rgba(61, 61, 61, 0.8); }

.psv-tooltip--center-right {
  -webkit-box-shadow: 3px 0 0 rgba(90, 90, 90, 0.7);
  box-shadow: 3px 0 0 rgba(90, 90, 90, 0.7);
  -webkit-transform: translate3d(-5px, 0, 0);
  transform: translate3d(-5px, 0, 0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform; }

.psv-tooltip--center-right .psv-tooltip-arrow {
  border-right-color: rgba(61, 61, 61, 0.8); }

.psv-tooltip--bottom-left {
  -webkit-box-shadow: -3px 3px 0 rgba(90, 90, 90, 0.7);
  box-shadow: -3px 3px 0 rgba(90, 90, 90, 0.7);
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform; }

.psv-tooltip--bottom-left .psv-tooltip-arrow {
  border-bottom-color: rgba(61, 61, 61, 0.8); }

.psv-tooltip--bottom-right {
  -webkit-box-shadow: 3px 3px 0 rgba(90, 90, 90, 0.7);
  box-shadow: 3px 3px 0 rgba(90, 90, 90, 0.7);
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform; }

.psv-tooltip--bottom-right .psv-tooltip-arrow {
  border-bottom-color: rgba(61, 61, 61, 0.8); }

.psv-tooltip--top-left {
  -webkit-box-shadow: -3px -3px 0 rgba(90, 90, 90, 0.7);
  box-shadow: -3px -3px 0 rgba(90, 90, 90, 0.7);
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform; }

.psv-tooltip--top-left .psv-tooltip-arrow {
  border-top-color: rgba(61, 61, 61, 0.8); }

.psv-tooltip--top-right {
  -webkit-box-shadow: 3px -3px 0 rgba(90, 90, 90, 0.7);
  box-shadow: 3px -3px 0 rgba(90, 90, 90, 0.7);
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform; }

.psv-tooltip--top-right .psv-tooltip-arrow {
  border-top-color: rgba(61, 61, 61, 0.8); }

.psv-tooltip--visible {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms; }

.menuHeader {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0 0.5rem 0;
  background: var(--background-main);
  z-index: 100; }

.menuHeader nav {
  width: 100%; }

.menuHeader nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%; }

@media (max-width: 1000px) {
  .menuHeader nav ul {
    justify-content: space-around; } }

.menuHeader nav ul li {
  padding: 1.3rem 0.4rem 1.2rem 0.4rem;
  border-radius: 8px;
  background: var(--main-gradient);
  z-index: 2;
  display: inline-block;
  margin: 0 1rem; }

.menuHeader nav ul li .links {
  padding: 0.8rem;
  border-radius: 6px;
  background: var(--background-main);
  box-shadow: 2px 2px 2px #000;
  color: var(--white-color);
  transition: 0.5s;
  border-left: 1px solid var(--background-main);
  text-decoration: none; }

.menuHeader nav ul li .links:hover {
  transform: scale(0.95);
  color: var(--light-color);
  border-color: var(--background-main);
  box-shadow: outset; }

@media (max-width: 960px) {
  .menuHeader nav ul li .links {
    padding-left: 0.4rem;
    padding-right: 0.4rem; } }

.menuHeader nav ul li .activeMenu {
  color: var(--light-color);
  box-shadow: none;
  border-left: 1px solid #0d0d0d;
  border-top: 1px solid black;
  border-color: #0d0d0d; }

@media (max-width: 1115px) {
  .menuHeader nav ul li {
    margin: 0 0.5rem; } }

@media (max-width: 960px) {
  .menuHeader nav ul li {
    margin: 0 0.2rem; } }

.menuHeader nav ul .hide {
  display: none; }

@media (max-width: 800px) {
  .menuHeader {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 0 0.5rem 0;
    background: var(--background-main);
    z-index: 100;
    box-shadow: 2px 2px 5px #000;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .menuHeader .menuMovile {
    position: relative;
    padding: 0 1.5rem 0 0; }
  .menuHeader .menuMovile span {
    color: var(--white-color);
    font-size: 2rem; }
  .menuHeader .menuMovile nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black-rgba-media);
    box-shadow: 2px 2px 2px #000;
    overflow: auto; }
  .menuHeader .menuMovile nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    width: 100%; }
  .menuHeader .menuMovile nav ul li {
    padding: 1.3rem 0.4rem 1.2rem 0.4rem;
    border-radius: 8px;
    background: var(--main-gradient);
    z-index: 2;
    display: block;
    margin: 0.3rem 0; }
  .menuHeader .menuMovile nav ul li .links {
    padding: 0.8rem;
    border-radius: 6px;
    background: var(--background-main);
    box-shadow: 2px 2px 2px #000;
    color: var(--white-color);
    transition: 0.5s;
    border-left: 1px solid var(--background-main);
    text-decoration: none; }
  .menuHeader .menuMovile nav ul li .links:hover {
    transform: scale(0.95);
    color: var(--light-color);
    border-color: var(--background-main);
    box-shadow: outset; }
  .menuHeader .menuMovile nav ul li .activeMenu {
    color: var(--light-color);
    box-shadow: none;
    border-left: 1px solid #0d0d0d;
    border-top: 1px solid black;
    border-color: #0d0d0d; }
  .menuHeader .menuMovile nav ul .hide {
    display: none; }
  .menuHeader .menuMovile nav .close {
    position: fixed;
    right: 2rem;
    top: 1rem;
    background: none;
    outline: none;
    border: none;
    font-size: 2rem;
    color: var(--white-color);
    font-weight: bold; } }

.menuHeader .wrapperLogo {
  padding: none;
  margin: none;
  border-radius: none;
  background: var(--brackground-main); }

.menuHeader .wrapperLogo .Logo {
  text-decoration: none; }

.menuHeader .wrapperLogo .Logo h1 {
  padding: 0 1.5rem;
  color: var(--white-color);
  text-align: center;
  font-size: 2rem; }

.menuHeader .wrapperLogo .Logo h1 span {
  padding: 0 0.4rem; }

.menuHeader .wrapperLogo .Logo h1 span:nth-child(odd) {
  color: var(--light-color); }

@media (max-width: 1000px) {
  .menuHeader .wrapperLogo .Logo h1 span {
    padding: 0 0.3rem; } }

@media (max-width: 500px) {
  .menuHeader .wrapperLogo .Logo h1 {
    font-size: 1.2rem;
    padding: 0 0.2rem; } }

@media (max-width: 400px) {
  .menuHeader .wrapperLogo .Logo h1 {
    font-size: 1rem;
    padding: 0 0.2rem; } }

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 4rem 0; }

@media (max-width: 450px) {
  .menu {
    padding: 1rem 0; } }

.menu .wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  transition: 0.5s; }

.menu .wrapper .wrapperImg {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s; }

.menu .wrapper .wrapperImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s; }

@media (max-width: 800px) {
  .menu .wrapper .wrapperImg {
    width: 200px;
    height: 200px; } }

@media (max-width: 660px) {
  .menu .wrapper .wrapperImg {
    width: 160px;
    height: 160px; } }

@media (max-width: 530px) {
  .menu .wrapper .wrapperImg {
    width: 160px;
    height: 160px; } }

@media (max-width: 360px) {
  .menu .wrapper .wrapperImg {
    width: 100px;
    height: 100px; } }

.menu .wrapper .wrapperImg .wrapperText {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.5s;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); }

.menu .wrapper .wrapperImg .wrapperText p {
  color: #ccc;
  font-size: var(--font-s-large);
  text-align: center;
  position: relative;
  bottom: -3rem;
  border-bottom: 2px solid #ccc;
  z-index: 7;
  opacity: 0;
  transition: 0.5s; }

@media (max-width: 400px) {
  .menu .wrapper .wrapperImg .wrapperText {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)); }
  .menu .wrapper .wrapperImg .wrapperText p {
    font-size: 0.8rem;
    bottom: -1.3rem;
    opacity: 1;
    color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 7; } }

.menu .wrapper .wrapperImg:hover .wrapperText {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)); }

.menu .wrapper .wrapperImg:hover .wrapperText p {
  opacity: 1; }

.mainSobreMi {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr; }

@media (max-width: 800px) {
  .mainSobreMi {
    grid-template-columns: 1fr;
    padding: var(--main-top) 0 0 0; } }

.mainSobreMi .itemSobreMi {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }

@media (max-width: 800px) {
  .mainSobreMi .itemSobreMi {
    height: auto; } }

.mainSobreMi .sobreMiImg div {
  position: relative; }

.mainSobreMi .sobreMiImg div:before, .mainSobreMi .sobreMiImg div:after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 1rem;
  bottom: -6rem;
  left: -4rem;
  bottom: -4rem; }

.mainSobreMi .sobreMiImg div:before {
  width: 0.6rem;
  height: 300px;
  background: var(--main-gradient-right);
  left: -3rem; }

@media (max-width: 800px) {
  .mainSobreMi .sobreMiImg div:before {
    left: -1.5rem;
    bottom: -2rem; } }

.mainSobreMi .sobreMiImg div:after {
  width: 300px;
  height: 0.6rem;
  background: var(--main-gradient);
  bottom: -3rem; }

@media (max-width: 800px) {
  .mainSobreMi .sobreMiImg div:after {
    bottom: -1.5rem;
    left: -2rem;
    width: 100%; } }

.mainSobreMi .sobreMiImg div:before {
  left: -1rem;
  width: 0.6rem;
  z-index: -1;
  bottom: -2rem; }

@media (max-width: 320px) {
  .mainSobreMi .sobreMiImg div:before {
    height: 200px; } }

.mainSobreMi .sobreMiImg div:after {
  top: 99%;
  width: 120%;
  left: -2.5rem;
  height: 0.6rem; }

@media (max-width: 320px) {
  .mainSobreMi .sobreMiImg div:after {
    width: 200px; } }

.mainSobreMi .sobreMiImg div img {
  width: 327px;
  height: 356px;
  object-fit: cover; }

@media (max-width: 500px) {
  .mainSobreMi .sobreMiImg div img {
    width: 280px;
    height: 304px; } }

@media (max-width: 380px) {
  .mainSobreMi .sobreMiImg div img {
    width: 240px;
    height: 261px; } }

.mainSobreMi .sobreMiText h2,
.mainSobreMi .sobreMiText p {
  color: var(--white-color);
  text-align: center;
  width: 80%; }

.mainSobreMi .sobreMiText h2 {
  color: var(--white-color);
  text-align: center;
  font-size: var(--font-s-large);
  padding: 0 0.2rem; }

.mainSobreMi .sobreMiText p {
  color: var(--white-color);
  text-align: center;
  font-size: var(--font-s-normal);
  margin: 2rem 0;
  padding: 0 0.3rem; }

@media (max-width: 450px) {
  .mainSobreMi .sobreMiText p {
    padding: 0 .1rem;
    margin: 1rem 0; } }

@media (max-width: 450px) {
  .mainSobreMi .sobreMiText p {
    width: 90%; } }

.mainSlider {
  width: 100%; }

.mainSlider .slider {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 400px;
  margin-top: var(--main-top);
  background: url("../images/background/slider1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation: fondo 10s infinite linear;
  transition: 3s;
  position: relative; }

.mainSlider .slider:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

@keyframes fondo {
  from {
    background-position: 0 100%; }
  to {
    background-position: 0 0%; } }

@media (max-width: 400px) {
  .mainSlider .slider {
    background: url("../images/background/media/slider1.jpg");
    height: 200px; } }

.mainSlider .fraseSlider {
  position: relative;
  font-size: var(--font-s-large);
  text-align: center;
  color: var(--white-color);
  overflow: hidden;
  padding: 2rem 2rem 0 2rem;
  transition: 0.5s;
  z-index: 5; }

@media (max-width: 450px) {
  .mainSlider .fraseSlider {
    font-size: 1.2rem;
    padding: 1rem 1rem 0 1rem; } }

.mainSlider .fraseSlider i {
  transition: 0.8s;
  color: transparent;
  font-style: normal; }

.home360 {
  position: relative;
  width: 90%;
  height: 500px;
  margin: var(--main-top) 5% 0 5%;
  background: #333;
  background: url("../../images/background/img9.jpg");
  background-size: cover;
  display: block;
  border-radius: 0.7rem; }

.home360:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: -0.5rem;
  left: -0.5rem;
  padding: 0.5rem;
  background: var(--main-gradient);
  border-radius: 1rem;
  z-index: -1; }

.home360 #viewer {
  border-radius: 0.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 20; }

.wrapper360 {
  display: grid;
  grid-template-columns: 1fr;
  position: relative; }

.wrapper360 .main360 {
  position: relative;
  height: 100vh;
  background: #333;
  background: url("../../images/background/img9.jpg");
  background-size: cover;
  z-index: 10; }

.wrapper360 .main360 #viewer {
  height: 100%;
  z-index: 20;
  overflow: hidden;
  position: relative; }

.wrapper360 .nav360 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  padding: 0 .3rem;
  z-index: 30; }

.wrapper360 .nav360 .mainNav360 ul {
  width: 100%; }

.wrapper360 .nav360 .mainNav360 ul li {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0.5rem 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 0 3px #000; }

.wrapper360 .nav360 .mainNav360 ul li .links360 {
  text-shadow: 1px 1px 2px #000; }

.wrapper360 .nav360 .mainNav360 ul li .links360 span {
  color: #fff;
  font-size: 2rem; }

.wrapperSocial {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 1rem 0 0 0; }

.wrapperSocial nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
  z-index: 2;
  padding: 1.3rem 0.4rem 1.2rem 0.4rem;
  border-radius: 8px;
  background: var(--main-gradient);
  z-index: 2;
  padding: 0.4rem 0.4rem 0.2rem 0.4rem; }

.wrapperSocial nav ul li a {
  text-decoration: none; }

.wrapperSocial nav ul li a img {
  width: 2rem;
  height: 2rem;
  padding: 0.8rem;
  border-radius: 6px;
  background: var(--background-main);
  box-shadow: 2px 2px 2px #000;
  color: var(--white-color);
  transition: 0.5s;
  border-left: 1px solid var(--background-main);
  padding: 0.6rem; }

.wrapperSocial nav ul li a img:hover {
  transform: scale(0.95);
  color: var(--light-color);
  border-color: var(--background-main);
  box-shadow: outset; }

.wrapperSocial p {
  margin: 1rem 0 0 0;
  text-align: center;
  color: var(--white-color);
  font-size: var(--font-s-normal); }

.wrapperSocial p i {
  font-size: var(--font-s-small); }

.wrapperSocial .creadores {
  color: var(--white-color);
  font-size: 0.7rem; }

.wrapperSocial .creadores a {
  color: var(--white-color);
  padding: 0 0.2rem; }

#menuGalerias {
  position: fixed;
  width: 8%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  transition: 1s;
  animation: cambiarfondomenu 30s infinite; }

#menuGalerias:hover {
  width: 30%;
  z-index: 150; }

#menuGalerias .MenuGaleriasAfter {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto; }

@media (max-width: 800px) {
  #menuGalerias .MenuGaleriasAfter {
    background: rgba(0, 0, 0, 0.3);
    justify-content: flex-start; } }

@media (max-width: 800px) and (orientation: landscape) {
  #menuGalerias .MenuGaleriasAfter {
    height: 80%; } }

#menuGalerias .MenuGaleriasAfter ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  width: 100%; }

#menuGalerias .MenuGaleriasAfter ul li,
#menuGalerias .MenuGaleriasAfter ul h3 {
  display: block;
  width: 100%;
  list-style: none;
  padding: 20px 0px;
  color: #a1a1a1;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #252525;
  transition: 0.5s;
  cursor: pointer; }

@media (max-width: 800px) {
  #menuGalerias .MenuGaleriasAfter ul li,
  #menuGalerias .MenuGaleriasAfter ul h3 {
    color: #fff;
    box-shadow: 0.5px 0.5px 2px #222; } }

#menuGalerias .MenuGaleriasAfter ul h3 {
  display: none; }

#menuGalerias .MenuGaleriasAfter:hover ul li {
  border-bottom: none;
  width: 100%;
  color: #fff; }

#menuGalerias .MenuGaleriasAfter:hover ul li:hover {
  background: rgba(0, 0, 0, 0.6); }

#menuGalerias:hover .menuGaleriasAfter {
  background: rgba(0, 0, 0, 0.3); }

@media (max-width: 800px) {
  #menuGalerias {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 150;
    transition: 1s;
    animation: cambiarfondomenu 30s infinite; }
  #menuGalerias:hover {
    width: 100%; } }

.allSesMenu {
  position: fixed;
  bottom: 0.5rem;
  left: 45%;
  z-index: 500;
  box-shadow: 0px 0px 3px #000;
  background: rgba(0, 0, 0, 0.5); }

.allSesMenu span {
  color: #fff;
  font-size: 3rem; }

@media (min-width: 800px) {
  .allSesMenu {
    display: none; } }

@keyframes cambiarfondomenu {
  0% {
    background: url("../images/Galerias/Paisajes/img18.jpg");
    background-repeat: repeat;
    background-size: cover; }
  30% {
    background: url("../images/Galerias/Paisajes/img19.jpg");
    background-repeat: repeat;
    background-size: cover; }
  35% {
    background: url("../images/Galerias/Paisajes/img18.jpg");
    background-repeat: repeat;
    background-size: cover; }
  65% {
    background: url("../images/Galerias/Paisajes/img18.jpg");
    background-repeat: repeat;
    background-size: cover; }
  70% {
    background: url("../images/Galerias/Paisajes/img19.jpg");
    background-repeat: repeat;
    background-size: cover; }
  100% {
    background: url("../images/Galerias/Paisajes/img19.jpg");
    background-repeat: repeat;
    background-size: cover; } }

/*parrafos*/
.contenido {
  padding: 120px 1rem 0 1rem;
  width: 75%;
  z-index: 4;
  text-align: left;
  margin: auto; }

.frase {
  color: var(--main-color);
  position: relative;
  font-style: italic;
  font-size: 1rem;
  font-style: italic; }

.frase span {
  position: relative; }

.maquinaEscribir {
  animation: parpadear 1s infinite; }

@keyframes parpadear {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/*generales de todas las galerias*/
.galerias {
  width: 75%;
  margin: auto; }

.galeria,
.galeriaV {
  margin: auto;
  list-style: none;
  box-sizing: border-box;
  display: flex;
  /*para ajustar en bloque*/
  flex-wrap: wrap;
  /*para que se acomoden en tamaños reducidos*/
  justify-content: space-around; }

.galeria {
  width: 100%; }

.galeriaV {
  width: 90%; }

.galeria li,
.galeriaV li {
  margin-top: 25px;
  overflow: hidden;
  position: relative; }

.galeria img,
.galeriaV img {
  object-fit: cover;
  transition: 1s; }

.galeria img {
  width: 400px;
  /*medida global de la imagen*/
  height: 300px; }

.galeriaV img {
  height: 400px;
  /*medida global de la imagen*/
  width: 300px; }

.galeria li:hover img,
.galeriaV li:hover img {
  transform: scale(1.1); }

/*Estilos para proteger imagenes*/
.new {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.5s; }

.new:before {
  content: url(/images/icon/full-screen.png);
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  width: 18px;
  height: 18px;
  opacity: 0;
  transition: 0.5s; }

.new:hover:before {
  opacity: 0.9; }

/*estilos para movil*/
@media (max-width: 1024px) {
  .frase {
    display: none; } }

@media (max-width: 800px) {
  .galerias {
    width: 100%; } }

@media (min-width: 426px) and (max-width: 768px) {
  .galeriaV img {
    width: 200px;
    /*medida global de la imagen*/
    height: 300px; } }

@media (max-width: 768px) {
  .galeria,
  .galeriaV {
    width: 100%;
    padding: 1rem; }
  .galeria img {
    width: 280px;
    /*medida global de la imagen*/
    height: 196px;
    object-fit: cover; }
  .galeriaV img {
    width: 150px;
    /*medida global de la imagen*/
    height: 198px;
    object-fit: cover; }
  .contenido {
    padding: 40px 0 0 0; } }

@media (max-width: 450px) {
  .frase {
    font-size: 0.7rem; } }

@media (max-width: 424px) {
  .galeria img {
    width: 150px;
    /*medida global de la imagen*/
    height: 98px;
    object-fit: cover;
    box-shadow: rgba(167, 167, 167, 0.5) 3px 3px 6px; } }

.modalSesiones {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  /*vertical*/
  /*horizontal*/ }

.modalSesiones .imagenLight,
.modalSesiones .imagenLightHori {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.modalSesiones .imagenLight img {
  position: relative;
  width: auto;
  height: 85%;
  max-height: 700px;
  object-fit: cover; }

@media (max-width: 470px) {
  .modalSesiones .imagenLight img {
    width: 96%;
    height: auto; } }

.modalSesiones .imagenLightHori img {
  width: auto;
  height: 520px;
  object-fit: cover;
  max-width: 100%;
  max-height: 530px;
  position: relative; }

@media (max-width: 600px) {
  .modalSesiones .imagenLightHori img {
    width: 100%;
    height: auto; } }

.modalSesiones .closeModal {
  color: #aaa;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  top: 2rem;
  right: 2rem; }

.modalSesiones .closeModal:hover {
  transform: scale(1.1);
  color: #fff; }

.modalSesiones .next-prev {
  position: absolute;
  top: 48%;
  color: #aaa;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  font-size: 3rem;
  display: block; }

.modalSesiones .next-prev:hover {
  transform: scale(1.1);
  color: #fff; }

.modalSesiones .prev {
  left: 2rem; }

.modalSesiones .next {
  right: 2rem; }

.modalSesiones .navLight {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem; }

.modalSesiones .navLight #infoModal {
  color: #aaa;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  bottom: 0;
  left: 2rem;
  padding: 1rem;
  font-size: var(--font-s-small); }

.modalSesiones .navLight #infoModal:hover {
  transform: scale(1.1);
  color: #fff; }

.modalSesiones .navLight ul {
  display: flex;
  justify-content: center;
  align-items: center; }

.modalSesiones .navLight ul i {
  color: #aaa;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s; }

.modalSesiones .navLight ul i:hover {
  transform: scale(1.1);
  color: #fff; }

.modalSesiones .navLight ul .hide {
  display: none; }

.barrausuario {
  position: absolute;
  background: #707070;
  bottom: 0;
  border-radius: 0.2rem;
  width: 1px;
  height: 5px; }

.mainContacto {
  display: grid;
  grid-template-columns: 40% 1fr;
  width: 100%;
  height: 100vh; }

@media (max-width: 800px) {
  .mainContacto {
    grid-template-columns: 1fr;
    height: auto; } }

.mainContacto .itemContacto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.mainContacto .formContacto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column; }

@media (max-width: 800px) {
  .mainContacto .formContacto {
    padding: 0 0 3rem 0; } }

.mainContacto .formContacto form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  width: 80%; }

.mainContacto .formContacto form:before, .mainContacto .formContacto form:after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 1rem;
  bottom: -6rem;
  left: -4rem;
  bottom: -4rem; }

.mainContacto .formContacto form:before {
  width: 0.6rem;
  height: 300px;
  background: var(--main-gradient-right);
  left: -3rem; }

@media (max-width: 800px) {
  .mainContacto .formContacto form:before {
    left: -1.5rem;
    bottom: -2rem; } }

.mainContacto .formContacto form:after {
  width: 300px;
  height: 0.6rem;
  background: var(--main-gradient);
  bottom: -3rem; }

@media (max-width: 800px) {
  .mainContacto .formContacto form:after {
    bottom: -1.5rem;
    left: -2rem;
    width: 100%; } }

.mainContacto .formContacto form input,
.mainContacto .formContacto form textarea {
  width: 90%;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
  outline: none;
  background: none;
  border: 2px solid var(--white-color);
  border: 2px solid var(--color-neutro);
  color: var(--white-color);
  font-size: var(--font-s-normal); }

.mainContacto .formContacto form input::placeholder,
.mainContacto .formContacto form textarea::placeholder {
  color: var(--color-neutro); }

.mainContacto .formContacto form input:focus,
.mainContacto .formContacto form textarea:focus {
  border: 2px solid var(--light-color); }

.mainContacto .formContacto form button {
  padding: 0.8rem;
  border-radius: 6px;
  background: var(--background-main);
  box-shadow: 2px 2px 2px #000;
  color: var(--white-color);
  transition: 0.5s;
  border-left: 1px solid var(--background-main);
  position: relative;
  border: none;
  outline: none;
  font-size: var(--font-s-normal); }

.mainContacto .formContacto form button:hover {
  transform: scale(0.95);
  color: var(--light-color);
  border-color: var(--background-main);
  box-shadow: outset; }

.mainContacto .formContacto form button:hover {
  transform: none;
  color: var(--light-color);
  border-color: var(--background-main);
  box-shadow: inset; }

.mainContacto .formContacto form button:after {
  padding: 1.3rem 0.4rem 1.2rem 0.4rem;
  border-radius: 8px;
  background: var(--main-gradient);
  z-index: 2;
  position: absolute;
  content: '';
  padding: 0.5rem;
  display: block;
  top: -0.5rem;
  left: -0.4rem;
  width: 100%;
  height: 100%;
  z-index: -1; }

.mainContacto .formContacto form button:focus {
  border: 2px solid var(--light-color);
  color: var(--light-color); }

@media (max-width: 800px) {
  .mainContacto .textContacto {
    padding: var(--main-top) 0 0 0;
    width: 90%; } }

@media (max-width: 450px) {
  .mainContacto .textContacto {
    padding: var(--main-top) 0 0 0;
    width: 100%; } }

.mainContacto .textContacto div {
  display: none;
  margin: auto;
  width: 443px;
  height: 363px;
  margin: 0 0 .5rem 0;
  position: relative; }

.mainContacto .textContacto div:before, .mainContacto .textContacto div:after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 1rem;
  bottom: -6rem;
  left: -4rem;
  bottom: -4rem; }

.mainContacto .textContacto div:before {
  width: 0.6rem;
  height: 300px;
  background: var(--main-gradient-right);
  left: -3rem; }

@media (max-width: 800px) {
  .mainContacto .textContacto div:before {
    left: -1.5rem;
    bottom: -2rem; } }

.mainContacto .textContacto div:after {
  width: 300px;
  height: 0.6rem;
  background: var(--main-gradient);
  bottom: -3rem; }

@media (max-width: 800px) {
  .mainContacto .textContacto div:after {
    bottom: -1.5rem;
    left: -2rem;
    width: 100%; } }

.mainContacto .textContacto div:before {
  left: -1rem;
  width: 0.6rem;
  z-index: -1;
  bottom: -2rem; }

@media (max-width: 320px) {
  .mainContacto .textContacto div:before {
    height: 200px; } }

.mainContacto .textContacto div:after {
  top: 99%;
  width: 120%;
  left: -2.5rem;
  height: 0.6rem; }

@media (max-width: 320px) {
  .mainContacto .textContacto div:after {
    width: 200px; } }

@media (max-width: 450px) {
  .mainContacto .textContacto div {
    width: 300px;
    height: 245px; } }

.mainContacto .textContacto div img {
  width: 100%;
  height: 100%; }

.mainContacto .textContacto h3 {
  color: var(--white-color);
  text-align: center;
  font-size: var(--font-s-large);
  padding: 0 0.2rem; }

.mainContacto .textContacto p {
  color: var(--white-color);
  text-align: center;
  font-size: var(--font-s-normal);
  margin: 2rem 0;
  padding: 0 0.3rem;
  width: 80%; }

@media (max-width: 450px) {
  .mainContacto .textContacto p {
    padding: 0 .1rem;
    margin: 1rem 0; } }

@media (max-width: 450px) {
  .mainContacto .textContacto p {
    width: 90%; } }

.wrapperError {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }

.wrapperError .error {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  background: var(--background-main);
  box-shadow: 2px 2px 5px #000;
  padding: 2rem;
  border-radius: 0.5rem;
  border-top: 5px solid var(--light-color); }

.wrapperError .error p {
  color: var(--white-color);
  font-size: var(--font-s-normal);
  padding: 1rem 0; }

.wrapperError .error button {
  padding: 0.8rem;
  border-radius: 6px;
  background: var(--background-main);
  box-shadow: 2px 2px 2px #000;
  color: var(--white-color);
  transition: 0.5s;
  border-left: 1px solid var(--background-main);
  position: relative;
  border: none;
  outline: none;
  font-size: var(--font-s-normal);
  display: none; }

.wrapperError .error button:hover {
  transform: scale(0.95);
  color: var(--light-color);
  border-color: var(--background-main);
  box-shadow: outset; }

.wrapperError .error button:hover {
  transform: none;
  color: var(--light-color);
  border-color: var(--background-main);
  box-shadow: inset; }

.wrapperError .error button:after {
  padding: 1.3rem 0.4rem 1.2rem 0.4rem;
  border-radius: 8px;
  background: var(--main-gradient);
  z-index: 2;
  position: absolute;
  content: '';
  padding: 0.5rem;
  display: block;
  top: -0.5rem;
  left: -0.4rem;
  width: 100%;
  height: 100%;
  z-index: -1; }

.wrapperError .error button:focus {
  border: 2px solid var(--light-color);
  color: var(--light-color); }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background: var(--main-gradient-right);
  border-radius: 6px; }

body {
  background: var(--background-main);
  letter-spacing: .1rem;
  font-family: var(--font-family); }

.hide {
  display: none; }
