* {
    margin: 0;
    padding: 0;
}
$total: 2rem;
:root {
    //backgrounds
    --background-main: #202020;
    --main-gradient: linear-gradient(
        to bottom, 
	hsl(0, 0%, 5%),
	hsl(0, 0%, 18%)
    );
    --main-gradient-right: linear-gradient(
        to right, 
	hsl(0, 0%, 5%),
	hsl(0, 0%, 18%)
    );

    //colors
    --white-color: #eee;
    --black-color: #202020;
    --light-color: hsl(345, 100%, 60%);

    //font-sizes
    --font-s-normal: 1.3rem;
    --font-s-large: 1.8rem;
    --font-s-big: 2.8rem;
    --font-s-extraBig: 3.8rem;
    --font-s-small: .8rem;

    --main-top: 8rem;
    

}
@import '../scripts/vr/styles/styles360', 'src/mixins', 'src/header', 'src/menu', 'src/sobreMi', 'src/slider', 'src/home360', 'src/social';

::-webkit-scrollbar {
    width: 10px;   
}
::-webkit-scrollbar-thumb{
    background: var(--main-gradient-right);
    border-radius: 6px;
}
body{
    background: var(--background-main);
    letter-spacing: .1rem;
}
