@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
* {
  margin: 0;
  padding: 0;
}
$total: 2rem;
:root {
  //backgrounds
  --background-main: #202020;
  --main-gradient: linear-gradient(to bottom, hsl(0, 0%, 5%), hsl(0, 0%, 18%));
  --main-gradient-right: linear-gradient(
    to right,
    hsl(0, 0%, 5%),
    hsl(0, 0%, 18%)
  );

  //colors
  --white-color: #ccc;
  --black-color: #202020;
  --light-color: hsl(345, 100%, 60%);
  --black-rgba-media: rgba(10, 10, 10, 0.9);

  --color-neutro: #888;

  //font-sizes
  --font-s-extraBig: 3.8rem;
  --font-s-big: 2.8rem;
  --font-s-large: 1.8rem;
  --font-s-normal: 1.3rem;
  --font-s-small: 0.8rem;

  --main-top: 8rem;

  --font-family: 'EB Garamond', serif;
  --main-padding: 2rem;

  @media (max-width: 500px) {
    //font-sizes
    --font-s-extraBig: 3rem;
    --font-s-big: 2.3rem;
    --font-s-large: 1.5rem;
    --font-s-normal: 1.2rem;
    --font-s-small: 0.6rem;

    --main-top: 4rem;
    --main-padding: .5rem;
  }
}
@import 'src/mixins', 'src/header', 'src/menu',
  'src/sobreMi', 'src/slider', 'src/home360', 'src/social', 'src/sesiones',
  'src/contacto', 'src/modalError', 'src/a-frame';

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--main-gradient-right);
  border-radius: 6px;
}
body {
  background: var(--background-main);
  letter-spacing: 0.1rem;
  font-family: var(--font-family);
}
.hide {
  display: none;
}
.ellipse {
  clip-path: ellipse(100% 100%);
  transition: 1.5s;
}
.hide-ellipse {
  clip-path: ellipse(0px 0px at top right);
  transition: 1s;
}
.hide-ellipse-bottom {
  @media (max-width: 800px) {
    clip-path: ellipse(0px 0px at bottom left);
    transition: 1s;
  }
}
