* {
  margin: 0;
  padding: 0; }

:root {
  --background-main: #202020;
  --main-gradient: linear-gradient(
        to bottom, 
	hsl(0, 0%, 5%),
	hsl(0, 0%, 18%)
    );
  --main-gradient-right: linear-gradient(
        to right, 
	hsl(0, 0%, 5%),
	hsl(0, 0%, 18%)
    );
  --white-color: #eee;
  --black-color: #202020;
  --light-color: hsl(345, 100%, 60%);
  --font-s-normal: 1.3rem;
  --font-s-large: 1.8rem;
  --font-s-big: 2.8rem;
  --font-s-extraBig: 3.8rem;
  --font-s-small: .8rem;
  --main-top: 7rem; }

.menuHeader {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0 .5rem 0;
  background: var(--background-main);
  z-index: 100; }

.menuHeader nav {
  width: 100%; }

.menuHeader nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%; }

.menuHeader nav ul li {
  display: inline-block;
  padding: 1.3rem .4rem 1.2rem .4rem;
  margin: 0 1rem;
  border-radius: 8px;
  z-index: 2;
  background: var(--main-gradient); }

.menuHeader nav ul li .links {
  text-decoration: none;
  box-shadow: 2px 2px 2px #000;
  padding: .8rem;
  border-radius: 6px;
  color: var(--white-color);
  background: var(--background-main);
  transition: .5s;
  border-left: 1px solid #2b2b2b; }

.menuHeader nav ul li .links:hover {
  transform: scale(0.7);
  color: var(--light-color);
  border-color: var(--background-main);
  box-shadow: outset; }

.menuHeader nav ul li .activeMenu {
  color: var(--light-color);
  box-shadow: none;
  border-left: 1px solid #0d0d0d;
  border-top: 1px solid black;
  border-color: #0d0d0d; }

.menuHeader nav ul .wrapperLogo {
  padding: none;
  margin: none;
  border-radius: none;
  background: var(--brackground-main); }

.menuHeader nav ul .wrapperLogo .Logo {
  text-decoration: none; }

.menuHeader nav ul .wrapperLogo .Logo h1 {
  margin: 0 3rem;
  color: var(--white-color);
  text-align: center; }

.menuHeader nav ul .wrapperLogo .Logo h1 span {
  padding: 0 .4rem; }

.menuHeader nav ul .wrapperLogo .Logo h1 span:nth-child(odd) {
  color: var(--light-color); }

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh; }

.home .itemHome {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.home .imgHome .wrapperImg {
  position: relative;
  width: 350px;
  height: 500px;
  background: #333; }

.home .imgHome .wrapperImg img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 4px 6px #000; }

.home .imgHome .wrapperImg:before, .home .imgHome .wrapperImg:after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 1rem;
  bottom: -6rem;
  left: -4rem;
  bottom: -4rem; }

.home .imgHome .wrapperImg:before {
  width: 0.6rem;
  height: 300px;
  background: var(--main-gradient-right);
  left: -3rem; }

.home .imgHome .wrapperImg:after {
  width: 300px;
  height: 0.6rem;
  background: var(--main-gradient);
  bottom: -3rem; }

.home .textHome h2 {
  color: var(--white-color);
  text-align: center;
  font-size: var(--font-s-large);
  padding: 0 .2rem;
  width: 95%;
  font-size: var(--font-s-big); }

.home .textHome p {
  color: var(--white-color);
  text-align: center;
  font-size: var(--font-s-normal);
  margin: 2rem 0;
  padding: 0 .3rem;
  width: 95%; }

.itemImg:nth-child(1) {
  top: 0;
  left: 0;
  z-index: 2; }

.itemImg:nth-child(2) {
  z-index: 2; }

.itemImg:nth-child(3) {
  z-index: 3; }

.itemImg:nth-child(4) {
  z-index: 4; }

.itemImg:nth-child(5) {
  z-index: 5; }

.animation {
  animation: move 6s; }

@keyframes move {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(130%, 0); }
  99% {
    z-index: 1; }
  100% {
    transform: translate(0, 0);
    top: 0;
    left: 0; } }

.index-1 {
  z-index: 1;
  top: 0;
  left: 0; }

.mainSobreMi {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.mainSobreMi .itemSobreMi {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.mainSobreMi .sobreMiImg div {
  position: relative; }

.mainSobreMi .sobreMiImg div:before, .mainSobreMi .sobreMiImg div:after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 1rem;
  bottom: -6rem;
  left: -4rem;
  bottom: -4rem; }

.mainSobreMi .sobreMiImg div:before {
  width: 0.6rem;
  height: 300px;
  background: var(--main-gradient-right);
  left: -3rem; }

.mainSobreMi .sobreMiImg div:after {
  width: 300px;
  height: 0.6rem;
  background: var(--main-gradient);
  bottom: -3rem; }

.mainSobreMi .sobreMiImg div:before {
  left: -1rem;
  width: 0.6rem;
  z-index: -1;
  bottom: -2rem; }

.mainSobreMi .sobreMiImg div:after {
  top: 99%;
  width: 120%;
  left: -2.5rem;
  height: 0.6rem; }

.mainSobreMi .sobreMiImg div img {
  width: 327px;
  height: 356px;
  object-fit: cover; }

.mainSobreMi .sobreMiText h2, .mainSobreMi .sobreMiText p {
  color: var(--white-color);
  text-align: center;
  width: 80%; }

.mainSobreMi .sobreMiText h2 {
  color: var(--white-color);
  text-align: center;
  font-size: var(--font-s-large);
  padding: 0 .2rem; }

.mainSobreMi .sobreMiText p {
  color: var(--white-color);
  text-align: center;
  font-size: var(--font-s-normal);
  margin: 2rem 0;
  padding: 0 .3rem; }

.slider {
  width: 100%;
  height: 600px;
  background: #333; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background: var(--main-gradient-right);
  border-radius: 6px; }

body {
  background: var(--background-main);
  letter-spacing: .1rem; }
