* {
  margin: 0;
  padding: 0; }

:root {
  --background-main: #202020;
  --main-gradient: linear-gradient(
        to bottom, 
	hsl(0, 0%, 5%),
	hsl(0, 0%, 18%)
    );
  --main-gradient-right: linear-gradient(
        to right, 
	hsl(0, 0%, 5%),
	hsl(0, 0%, 18%)
    );
  --white-color: #eee;
  --black-color: #202020;
  --light-color: hsl(345, 100%, 60%);
  --font-s-normal: 1.3rem;
  --font-s-large: 1.8rem;
  --font-s-big: 2.8rem;
  --font-s-extraBig: 3.8rem;
  --font-s-small: .8rem;
  --main-top: 7rem; }

.menuHeader {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0 .5rem 0;
  background: var(--background-main);
  z-index: 100; }

.menuHeader nav {
  width: 100%; }

.menuHeader nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%; }

.menuHeader nav ul li {
  display: inline-block;
  padding: 1.3rem .4rem 1.2rem .4rem;
  margin: 0 1rem;
  border-radius: 8px;
  z-index: 2;
  background: var(--main-gradient); }

.menuHeader nav ul li .links {
  text-decoration: none;
  box-shadow: 2px 2px 2px #000;
  padding: .8rem;
  border-radius: 6px;
  color: var(--white-color);
  background: var(--background-main);
  transition: .5s;
  border-left: 1px solid #2b2b2b; }

.menuHeader nav ul li .links:hover {
  transform: scale(0.7);
  color: var(--light-color);
  border-color: var(--background-main);
  box-shadow: outset; }

.menuHeader nav ul li .activeMenu {
  color: var(--light-color);
  box-shadow: none;
  border-left: 1px solid #0d0d0d;
  border-top: 1px solid black;
  border-color: #0d0d0d; }

.menuHeader nav ul .wrapperLogo {
  padding: none;
  margin: none;
  border-radius: none;
  background: var(--brackground-main); }

.menuHeader nav ul .wrapperLogo .Logo {
  text-decoration: none; }

.menuHeader nav ul .wrapperLogo .Logo h1 {
  margin: 0 3rem;
  color: var(--white-color);
  text-align: center; }

.menuHeader nav ul .wrapperLogo .Logo h1 span {
  padding: 0 .4rem; }

.menuHeader nav ul .wrapperLogo .Logo h1 span:nth-child(odd) {
  color: var(--light-color); }

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 8rem 0; }

.menu .wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%; }

.menu .wrapper .wrapperImg {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s; }

.menu .wrapper .wrapperImg:before, .menu .wrapper .wrapperImg:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  content: '';
  position: absolute; }

.menu .wrapper .wrapperImg:before {
  top: -0.3rem;
  left: -0.5rem;
  padding: 0.5rem;
  background: var(--main-gradient);
  z-index: -1; }

.menu .wrapper .wrapperImg:after {
  top: 4px;
  padding: 0.2rem;
  left: 0rem;
  z-index: 6;
  transition: 0.5s; }

.menu .wrapper .wrapperImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border-top: 4px solid #000;
  border-left: 2px solid #000;
  overflow: hidden;
  transition: 0.5s; }

.menu .wrapper .wrapperImg .wrapperText {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 0.2rem; }

.menu .wrapper .wrapperImg .wrapperText p {
  color: #ccc;
  font-size: var(--font-s-large);
  text-align: center;
  position: relative;
  top: 3rem;
  border-bottom: 2px solid #ccc;
  z-index: 7;
  opacity: 0;
  transition: 0.5s; }

.menu .wrapper .wrapperImg:hover .wrapperText p {
  opacity: 1; }

.menu .wrapper .wrapperImg:hover:after {
  background: rgba(0, 0, 0, 0.5); }

.mainSobreMi {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.mainSobreMi .itemSobreMi {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.mainSobreMi .sobreMiImg div {
  position: relative; }

.mainSobreMi .sobreMiImg div:before, .mainSobreMi .sobreMiImg div:after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 1rem;
  bottom: -6rem;
  left: -4rem;
  bottom: -4rem; }

.mainSobreMi .sobreMiImg div:before {
  width: 0.6rem;
  height: 300px;
  background: var(--main-gradient-right);
  left: -3rem; }

.mainSobreMi .sobreMiImg div:after {
  width: 300px;
  height: 0.6rem;
  background: var(--main-gradient);
  bottom: -3rem; }

.mainSobreMi .sobreMiImg div:before {
  left: -1rem;
  width: 0.6rem;
  z-index: -1;
  bottom: -2rem; }

.mainSobreMi .sobreMiImg div:after {
  top: 99%;
  width: 120%;
  left: -2.5rem;
  height: 0.6rem; }

.mainSobreMi .sobreMiImg div img {
  width: 327px;
  height: 356px;
  object-fit: cover; }

.mainSobreMi .sobreMiText h2, .mainSobreMi .sobreMiText p {
  color: var(--white-color);
  text-align: center;
  width: 80%; }

.mainSobreMi .sobreMiText h2 {
  color: var(--white-color);
  text-align: center;
  font-size: var(--font-s-large);
  padding: 0 .2rem; }

.mainSobreMi .sobreMiText p {
  color: var(--white-color);
  text-align: center;
  font-size: var(--font-s-normal);
  margin: 2rem 0;
  padding: 0 .3rem; }

.slider {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 400px;
  margin-top: var(--main-top);
  background: url("../images/background/slider1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation: fondo 10s infinite linear;
  transition: 3s;
  position: relative; }

.slider:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1; }

@keyframes fondo {
  from {
    background-position: 0 100%; }
  to {
    background-position: 0 0%; } }

@media (max-width: 400px) {
  .slider .slider {
    width: 100%;
    background: url("Imagenes/Fondos/media/img3.jpg"); } }

.slider .fraseSlider {
  width: 100%;
  position: relative;
  font-size: var(--font-s-big);
  text-align: center;
  font-weight: bold;
  color: #ddd;
  overflow: hidden;
  padding: 0 2rem;
  transition: 0.5s;
  z-index: 5; }

.slider .fraseSlider i {
  transition: 0.8s;
  color: transparent;
  font-style: normal; }

.home360 {
  width: 80%;
  height: 500px;
  margin: auto;
  background: #333;
  display: block;
  position: relative;
  border-radius: .7rem; }

.home360:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: -.5rem;
  left: -.5rem;
  padding: .5rem;
  background: var(--main-gradient);
  border-radius: 1rem;
  z-index: -1; }

.wrapperSocial {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto; }

.wrapperSocial nav ul li {
  list-style: none;
  display: inline-block;
  padding: .8rem 0.4rem .8rem 0.4rem;
  margin: 0 1rem;
  border-radius: 8px;
  z-index: 2;
  background: var(--main-gradient); }

.wrapperSocial nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  box-shadow: 2px 2px 2px #000;
  padding: 0.3rem .5rem;
  border-radius: 6px;
  color: var(--white-color);
  background: var(--background-main);
  transition: 0.5s;
  border-left: 1px solid #2b2b2b; }

.wrapperSocial nav ul li a:hover {
  transform: scale(0.7);
  color: var(--light-color);
  border-color: var(--background-main);
  box-shadow: outset; }

.wrapperSocial p {
  padding: .5rem 0;
  margin: 1rem 0;
  color: var(--white-color); }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background: var(--main-gradient-right);
  border-radius: 6px; }

body {
  background: var(--background-main);
  letter-spacing: .1rem; }
